body {
    color: blue;
}

.gridbox {

    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 800px;
    align-items: center;
    
}

.border_blank {

    border: 1px solid brown;

}

.border_flipped {

    border: 1px solid #ffffff;

}